*,
*:after,
*::before {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*.page { text-align:center; padding:20px;}*/
.block1 {
	position: relative;
	width: 100%;
}
.block2 {
	position: relative;
	width: 100%;
}
.block3 {
	position: relative;
	width: 100%;
}
.block4 {
	position: relative;
	width: 100%;
}
.block5 {
	position: relative;
	width: 100%;
}
.block6 {
	position: relative;
	width: 100%;
}
.height-block {
	height: auto;
}






